<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >

<head>nly6
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}">

  <title>Słownik</title>
  <link rel="stylesheet" th:href="@{/css/editTable.css}">

  <!-- all fontawesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<body>
<div class="main">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" style="padding-left: 5px;">Słownik</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="    Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" id="a1">
            <a class="nav-link" th:href="@{/home}">Home</a>
          </li>
          <li class="nav-item" id="aRest">
            <a class="nav-link" th:href="@{/documentation}">RestAPI</a>
          </li>
          <li class="nav-item" id="a2">
            <a class="nav-link" th:href="@{science}">Nauka</a>
          </li>
          <li class="dropdown dd1">
            <a class="btn dropdown-toggle" type="button" id="dd1" data-bs-toggle="dropdown" aria-expanded="false">
              Testy
            </a>
            <ul class="dropdown-menu" aria-labelledby="dd1">
              <li id="a2"><a class="dropdown-item" th:href="@{test/written}">Test pisemny</a></li>
              <li id="a1"><a class="dropdown-item" th:href="@{test/sound}">Test odsłuchu</a></li>
            </ul>
          </li>
          <li class="dropdown dd2">
            <a class="btn dropdown-toggle" type="button" id="dd2" data-bs-toggle="dropdown" aria-expanded="false">
              Twoja tabela
            </a>
            <ul class="dropdown-menu" aria-labelledby="dd2">
              <li id="a2"><a class="dropdown-item" th:href="@{editTable}">Dodaj słowa</a></li>
              <li id="a3"><a class="dropdown-item" th:href="@{createTable}">Dodaj kategorię</a></li>
            </ul>
          </li>
        </ul>
        <div th:if="${userSession.getLogged() == true}">
          <form class="d-flex dropdown navbar-nav dropstart" th:action="@{account}" method="get">
            <button type="submit" class="btn dropdown-toggle tff2" id="user" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-lg" id="iconUser"></i></button>
            <ul class="dropdown-menu " aria-labelledby="user">
              <li><button class="btn dropdown-item" name="select" value="userdata" id="logout1">Twoje dane</button></li>
              <li><button class="btn dropdown-item" name="select" value="password" id="logout1">Zmień hasło</button></li>
              <li><button class="btn dropdown-item" name="select" value="tokenExist" id="logout1">Generuj token API</button></li>
              <li><hr class="dropdown-divider"></li>
              <li style="background-color: rgb(252, 250, 250);"><a class="dropdown-item" id="logout2" th:href="@{logout}" style="font-weight: 600;">Wyloguj</a></li>
            </ul>
          </form>
        </div>
        <div th:unless="${userSession.getLogged() == true}">
          <form class="d-flex" th:action="@{login}">
            <input type="submit" class="form-control" value="Zaloguj" id="tff">
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">

  <div class="row" id="info">
    <div class="col-lg-4" id="info1"> <p><i class="fas fa-plus fa-2x"></i></br>
      Dodanie nowego wiersza słów</p></div>
    <div class="col-lg-4" id="info2"> <p><i class="far fa-trash-alt fa-2x"></i></br>
      Usunięcie wiersza słów</p></div>
    <div class="col-lg-4" id="info3"> <p><i class="fas fa-pencil-alt fa-2x"></i></br>
      Edycja wiersza słów</p></div>
  </div>

  <div class="row" style="min-height: 100vh;">
    <div class="col-lg-2 col-md-3 col-sm-4 col-12" id="inSide" >

      <div class="row">
        <div class="col-lg-12 fw-bold sideP">Twoje tabele słów</div>
        <div style="overflow-y: scroll; padding-top: 5px;" id="axc">
          <form method="get" th:action="@{editTable}">
            <tr th:each="obj : ${allCategories}">
              <td th:if="${category} == ${obj.getCatename()}"><button class="col-12 btn" id="chooseTable2" name="chosenCate" th:value="${obj.getCatename()}"><p th:text="${obj.getCatename()}" style="margin-bottom: 0px"></p></button></td>
              <td th:unless="${category} == ${obj.getCatename()}"><button class="col-12 btn" id="chooseTable" name="chosenCate" th:value="${obj.getCatename()}"><p th:text="${obj.getCatename()}"  style="margin-bottom: 0px"></p></button></td>
            </tr>
          </form>
        </div>
      </div>

    </div>
    <script>
      function lowChars(event) {
        var keycode = event.keyCode;
        if ((event.charCode > 96 && event.charCode < 123) || event.charCode == 261
                || event.charCode == 263
                || event.charCode == 281
                || event.charCode == 322
                || event.charCode == 324
                || event.charCode == 243
                || event.charCode == 347
                || event.charCode == 378
                || event.charCode == 380
                || event.charCode == 32
        ) {
          return ture;
        }
        return false;
      }
    </script>

    <div class="col-lg-10 col-md-9 col-sm-8 col-12 ps-0 pe-0" style="background-color: white;">
      <p th:if="${notSelected} == 'true'" style="text-align: center; padding:10%;"> Proszę wybrać kategorię z listy </p>

      <table class="table table-striped" th:unless="${notSelected} == 'true'">
        <thead>
        <tr>
          <th class="col-2 fw-bold">Id</th>
          <th class="col-4 fw-bold">English</th>
          <th class="col-4 fw-bold">Polish</th>
          <th class="col-2 fw-bold" colspan="2">Dodaj/Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr id="first">
          <form method="POST" th:action="@{editTable}" th:object="${newWord}">
            <td class="col-2" id="new1" th:text="${cateSize} +1 "></td>

            <td class="col-4" th:if="${existSame} == 'true'"><input type="text" required="required" placeholder="już istnieje !" id="new2err" th:field="*{english}" maxlength="25" onkeypress="return lowChars(event)"></td>
            <td class="col-4" th:unless="${existSame} == 'true'"><input type="text" required="required" placeholder="nazwa tabeli" id="new2" th:field="*{english}" maxlength="25" onkeypress="return lowChars(event)"></td>

            <td class="col-4" th:if="${existSame} == 'true'"><input type="text" required="required" placeholder="już istnieje !" id="new2err" th:field="*{polish}" maxlength="25" onkeypress="return lowChars(event)"></td>
            <td class="col-4" th:unless="${existSame} == 'true'"><input type="text" required="required" placeholder="nazwa tabeli" id="new2" th:field="*{polish}" maxlength="25" onkeypress="return lowChars(event)"></td>

            <td class="col-2" colspan="2" id="new4"><button class="btn w-100 pe-0 ps-0" name="currentWordId" value="create"><i class="fas fa-plus fa-lg "></i></button></td>
          </form>
        </tr>
        <tr th:each="obj, i : ${allWords}" id="second">
          <form method="POST" th:action="@{editTable}" th:object="${newWord}">
            <td class="col-2" id="id" th:text="${i.index + 1}"></td>

            <td th:if="${edit} == ${obj.id}" class="col-4">
              <input th:if="${existSame} == 'true2'" id="new3error" type="text" required="required" placeholder="już istnieje !" th:field="${newWord.english}" maxlength="25"onkeypress="return lowChars(event)">
              <input th:unless="${existSame} == 'true2'" id="new3" type="text" required="required" th:placeholder="${obj.english}" th:field="${newWord.english}" maxlength="25" onkeypress="return lowChars(event)">
            </td>
            <td th:unless="${edit} == ${obj.id}" class="col-4" th:text="${obj.english}"></td>

            <td th:if="${edit} == ${obj.id}" class="col-4">
              <input th:if="${existSame} == 'true2'" id="new3error" type="text" required="required" placeholder="już istnieje !" th:field="${newWord.polish}" maxlength="25"onkeypress="return lowChars(event)">
              <input th:unless="${existSame} == 'true2'" id="new3" type="text" required="required" th:placeholder="${obj.polish}" th:field="${newWord.polish}" maxlength="25" onkeypress="return lowChars(event)">
            </td>
            <td th:unless="${edit} == ${obj.id}" class="col-4" th:text="${obj.polish}"></td>

            <th:block th:if="${edit} == ${obj.id}">
              <td class="col-1" id="sc1"> <button class="btn w-100 pe-0 ps-0" id="sc12" name="currentWordId" th:value="${obj.id} + 'delete'"><i class="far fa-trash-alt fa-lg" id="i"></i></button></td>
              <td class="col-1" id="sc2"> <button class="btn w-100 pe-0 ps-0" id="sc222" name="currentWordId" th:value="${obj.id} + 'edit'"><i class="fa-circle-check fa-lg" id="i"></i></button></td>
            </th:block>

            <th:block th:unless="${edit} == ${obj.id}">
              <td class="col-1" id="sc1"> <button class="btn w-100 pe-0 ps-0" id="sc12" name="currentWordId" th:value="${obj.id} + 'delete'"><i class="far fa-trash-alt fa-lg" id="i"></i></button></td>
              <td class="col-1" id="sc2"> <button class="btn w-100 pe-0 ps-0" id="sc22" name="currentWordId" th:value="${obj.id} + 'edit'"><i class="fas fa-pencil-alt fa-lg" id="i"></i></button></td>
            </th:block>

          </form>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="pagination">
      <form method="get" th:action="@{editTable}">
        <button class="btn"><p class="back"><i class="fas fa-angle-double-left"></i></p></button>
        <tr th:each="obj : ${pagination}">
          <td><button class="btn" name="pageNumber" th:value="${obj}"><p th:text="${obj}"></p></button></td>
        </tr>
        <button class="btn"><p class="next"> <i class="fas fa-angle-double-right"></i></p></button>
      </form>
    </div>
  </div>

</div>

<div class="container-fluid" style="background-color: white;">

  <footer class="row g-light text-center p-2"  id="footer">
    <div class="col-lg-2">
      Aleksander Haberland 2021
    </div>
    <div class="col-lg-7">
    </div>
    <div class="col-lg-3">
      <i class="fas fa-envelope-square pe-1"></i>email: aleksanderhabe@gmail.com
    </div>
  </footer>

</div>


<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
</body>
</html>