body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#tff{
    background: rgb(255,210,251);
    background: linear-gradient(118deg, rgba(255,210,251,1) 31%, rgba(139,255,226,1) 72%, rgba(255,237,171,1) 100%);
    color: rgb(104, 97, 97);
}

#tff:hover{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(37, 191, 202);
}



@media screen and (min-width: 1502px) {
    #tff {
        width: 150px;
    }
}


.navbar  {
    opacity: 1;
    width: 100%;
    top:0;
}


.main{
    margin-bottom: 50px;

}

nav li {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

nav input{
    margin-right: 25px;
    width: 155px;
}



#a1 :hover {
    background-color: #ffcc00;
}
#a2 :hover {
    background-color: #00ff88;
}
#a3 :hover {
    background-color: #fd34b0;
}

#a3x :hover {
    background-color: #fd34b0;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}


#imgButton{
    padding: 0;
    border: none;
    background: none;
}

.dropdown a:hover{
    background-color: rgb(150, 193, 250);
}


#info{
    padding-top: 25px;
    background-color: rgb(255, 255, 255, 0.3);
    text-align: center;
}

#info1{
    background-color:#c9f8c1;
    border-radius: 15px;
}
#info1 i{
    color: rgb(12, 224, 5);
    background-color: #edffe1f1;
    padding: 3px;
}

#info2{
    background-color:#ffd9dd;
    border-radius: 15px;
}
#info2 i{
    color: rgb(250,0,0);
    background-color: #fcf7f4;
    padding: 3px;
}

#info3{
    background-color:#ffe38e    ;
    border-radius: 15px;
}
#info3 i{
    color: rgb(226, 226, 30);
    background-color: #fdffe1;
    padding: 3px;
}

#inSide{
    background-color: rgb(236, 236, 236);

}

.sideP{
    background-color: rgb(255, 255, 255);
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chooseTable{
    word-wrap: break-word !important;
    color: #494949;
    background: whitesmoke;
    transition: all 0.4s ease 0s;
    border: 1px solid gainsboro;
    outline:none;
    color: rgb(129, 122, 122);
    border-color: rgba(156, 155, 152, 0.363);
}

#chooseTable:hover{
    color: #9c9999;
    text-transform: uppercase;
    background: #fde1a8;
    border-color: #f6b93b !important;
    transition: all 0.4s;
    border-width: 1px;
}

#chooseTable2{
    word-wrap: break-word !important;
    background: #ffe8c5;
    transition: all 0.4s ease 0s;
    border: 1px solid #ece9ca;
    outline:none;
    color: rgb(129, 122, 122);
}

#chooseTable2:hover {
    color: #9c9999;
    text-transform: uppercase;
    background: #fde1a8;
    border-color: #f6b93b !important;
    transition: all 0.4s;
    border-width: 1px;

}


tbody{
    background-color: white;
}

table,tr,td, .sideP{
    text-align: center  ;
    border: rgb(223, 218, 238) 0.5px solid;
    border-bottom: 0px;
}

.table thead{
    height: 48px;
}
.table th, .sideP{
    font-weight: 800;
    color: rgb(117, 214, 213);
    border: 0px;
}

.table th, .sideP{
    font-weight: 800;
    color: rgb(117, 214, 213);
}

#form button:hover{
    background-color: rgb(230, 255, 223);

}
#new1{
    color: rgb(138, 137, 137);
    font-weight: 800;
}
#new2{
    text-align: center;
    width: 65%;
    height: 35px;
    border-radius: 25px;
    font-weight: 700;
    outline:none;
    color: rgb(129, 122, 122);
    border-color: rgba(159, 221, 87, 0.363);
    border-width: 1px;
}
#new2::placeholder {
    color: rgb(138, 137, 137);
}
#new2:hover{
    background-color:#d4f5f4    ;
}

#new2err{
    text-align: center;
    width: 65%;
    height: 35px;
    border-radius: 25px;
    font-weight: 700;
    outline:none;
    color: rgb(129, 122, 122);
    border-color: rgb(255, 22, 0);
    border-width: 1px;
}
#new2err::placeholder {
    color: rgb(138, 137, 137);
}
#new2err:hover{
    background-color:#d4f5f4    ;
}

#new3{
   text-align: center;
    border-radius: 25px;
    font-weight: 500;
    outline:none;
    border-color: rgba(245, 243, 119, 0.36);
    border-width: 1px;
}
#new3::placeholder {
    color: rgb(138, 137, 137);
}
#new3:hover{
    background-color: rgba(255, 247, 196, 0.87);
}

#new3error{
    text-align: center;
    border-radius: 25px;
    font-weight: 500;
    outline:none;
    border-color: rgb(255, 22, 0);
    border-width: 1px;
}
#new3error::placeholder {
    color: rgb(138, 137, 137);
}
#new3error:hover{
    background-color: rgba(255, 247, 196, 0.87);
}


#first button:hover{
    background-color: rgb(242, 255, 235);
}

#first i{
    color: rgb(12, 224, 5);
}
#new4{
    background-color: #dfffd9    ;
}


#second td{
    color: rgb(138, 137, 137);
}


#sc1{
    background-color: #ffd9dd;
}

#sc12{
    border-right: 0px;
    color: rgb(255, 0, 0);
}

#sc1 button:hover{
    background-color: rgb(253, 242, 242);
}

#sc2{
    background-color: #ffe38e;
}

#sc22{
    border-left: 0px;
    color: rgb(150, 150, 90);
}
#sc2 button:hover{
    background-color: rgb(253, 242, 242);

}
.pagination{
    text-align: center;
    display: block;
    background-color: rgb(236, 236, 236);
}

.pagination button{
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
}

.pagination p{
    background-color: rgb(117, 214, 213);
    text-decoration: none;
    padding: 0px 12px;
    font-weight: 700;
    color:rgb(189, 253, 252);
    border:1px solid transparent;
    border-radius: 100%;

}

.pagination p:hover{
    color: #ffc400 ;
    font-weight: 900;
    border-width: 1px;
}

.pagination .back{
    margin-right: -10px;
    font-size: 20px;
    color: #ffd758    ;
    background-color: rgb(255, 255, 255,0);
}

.pagination .next{
    margin-left: -10px;
    font-size: 20px;
    color: #ffd758    ;
    background-color: rgb(255, 255, 255,0);
}

#footer{
    background-color: rgb(221, 221, 217);
}


