body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#tff{
    background: rgb(255,210,251);
    background: linear-gradient(118deg, rgba(255,210,251,1) 31%, rgba(139,255,226,1) 72%, rgba(255,237,171,1) 100%);
    color: rgb(104, 97, 97);
}

nav {
    margin-bottom: 50px;
}

nav li {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

nav input{
    margin-right: 25px;
    width: 155px;
}

#a1 :hover {
    background-color: #ffcc00;
}
#a2 :hover {
    background-color: #00ff88;
}
#a3 :hover {
    background-color: #fd34b0;
}

#a3x :hover {
    background-color: #fd34b0;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

#abc{
    text-align: center;
}

#tabel{
    text-align: center;
    background-color: #fffcfc;
    width: 100%;
}

tr,td{

    border: 1px solid #ffe1ca;
}
th{
    color: #978b8b;
}

#imgButton{
    padding: 0;
    border: none;
    background: none;
}

.dropdown a:hover{
    background-color: rgb(150, 193, 250);
}







