body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#tff {
    background: rgb(255, 210, 251);
    background: linear-gradient(118deg, rgba(255, 210, 251, 1) 31%, rgba(139, 255, 226, 1) 72%, rgba(255, 237, 171, 1) 100%);
    color: rgb(104, 97, 97);
}

nav li {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

nav input {
    margin-right: 25px;
    width: 155px;
}

#a1 :hover {
    background-color: #ffcc00;
}

#a2 :hover {
    background-color: #00ff88;
}

#a3 :hover {
    background-color: #fd34b0;

}

#a3x :hover {
    background-color: #fd34b0;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

#a4 {
    color: #00ff88;
}

#tff {
    background: rgb(255, 210, 251);
    background: linear-gradient(118deg, rgba(255, 210, 251, 1) 31%, rgba(139, 255, 226, 1) 72%, rgba(255, 237, 171, 1) 100%);
}

#alertt {
    font-family: Bookman, URW Bookman L, serif;
    font-weight: 200;
    text-align: center;
    font-size: 25px;
}
#alertt a{
    font-weight: 800;
    color: #74ADAE ;
    font-size: 26px;

}


.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}

.form-control, .btn {
    border-radius: 3px;
}

.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    opacity: 0.9;
}

.signup-form h2 {
    color: #179b81;
    font-weight: bold;
    margin-top: 0;
}

.signup-form hr {
    margin: 0 -30px 20px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form label {
    font-weight: normal;
    font-size: 13px;
}

.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.signup-form input[type="checkbox"] {
    margin-top: 2px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #ffcf4b;
    border: none;
    min-width: 140px;
}

.signup-form .btn:hover, .signup-form .btn:focus {
    background: #179b81;
    outline: none;
}

.signup-form a {
    color: #e6b800;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #19aa8d;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

.signup-form .fa {
    font-size: 21px;
}

.signup-form .fa-paper-plane {
    font-size: 18px;
}

.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}