body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#tff{
    background: rgb(255,210,251);
    background: linear-gradient(118deg, rgba(255,210,251,1) 31%, rgba(139,255,226,1) 72%, rgba(255,237,171,1) 100%);
    color: rgb(104, 97, 97);
}

.tff2{
    background: rgb(255,210,251);
    background: linear-gradient(118deg, rgba(255,210,251,1) 31%, rgba(139,255,226,1) 72%, rgba(255,237,171,1) 100%);    border-radius: 15px;
}
.tff2:hover{
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235)   ;
}

#iconUser{
    color: rgb(139, 75, 134);
}

@media screen and (min-width: 1502px) {
    .tff {
        width: 150px;
    }
}

.navbar  {
    opacity: 1;
    width: 100%;
    top:0;
}

.main{
    margin-bottom: 50px;
}

nav li {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

nav input{
    margin-right: 25px;
    width: 155px;
}

#a1 :hover {
    background-color: #ffcc00;
}
#a2 :hover {
    background-color: #00ff88;
}
#a3 :hover {
    background-color: #fd34b0;
}
#aRest:hover{
    background-color: rgb(255,189,113,0.90);
}
#a3x :hover {
    background-color: #fd34b0;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

#imgButton{
    padding: 0;
    border: none;
    background: none;
}

.dd1 a:hover{
    background-color: rgb(150, 193, 250);
}

.dd2 a:hover{
    background-color: #ff2aadb9;
}

.dropdown a:hover{
    background-color: rgb(150, 193, 250);
}
#logout1:hover{
    background-color: rgb(150, 193, 250);
    color: rgb(255, 254, 254);
}

#logout2:hover{
    background-color: rgb(255, 87, 87);
    color: rgb(255, 254, 254);
}


#h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#h1 :hover {
    background-color: #ffe57e;
    border-radius: 15px;
}

#g1 {
    background-color: #ffcc00;
}

#g1:hover {
    background-color: #f8db64;
}

#h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#h2 :hover {
    background-color: #8ee1fa;
    border-radius: 15px;
}

#g2 {
    background-color: rgb(150, 193, 250);
}

#g2:hover {
    background-color: rgb(63, 120, 206);
}

#h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#h3 :hover {
    background-color: #ffbdee;
    border-radius: 15px;
}

#g3 {
    background-color: rgb(255, 109, 255);
}

#g3:hover {
    background-color: rgb(201, 57, 181);
}

#h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#h4 :hover {
    background-color: #00ff88;
    border-radius: 15px;
}

#g4 {
    background-color: rgb(155, 255, 73);
}

#g4:hover {
    background-color: rgb(63, 206, 87);
}


@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

#info{
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
}

#rowOne {
    color: rgb(114, 114, 114);
    font-weight: 400;
    padding: 6px 0px;
}
#info1:hover button, #info2:hover button, #info3:hover button{
    color: rgb(88, 88, 88);
    font-weight: 500;
}
#info1{
    background-color:#c9f8c1;
    border-radius: 100px 18px 0px 0px;
    min-height: 40px;
    text-align: center;

}
#info1:hover{
    background-color:#a9f89c;
    border: 1px solid #5df845;
}

#info2{
    min-height: 40px;
    background-color:#ffd9dd;
    border-radius: 100px 18px 0px 0px;
    text-align: center;

}
#info2:hover{
    background-color:#ffced2;
    border: 1px solid #ffb1b1;
}

#info3{
    background-color:#fce399;
    border-radius: 100px 18px 0px 0px;
    min-height: 40px;
    text-align: center;

}

#info3:hover{
    background-color:#fadd87;
    border: 1px solid #ffca2b;
}

.custom-select{
    background-color: rgb(224, 238, 252);
    text-align: center;
}

.custom-select:focus{
    background-color: rgb(213, 233, 253);
    border: 1px solid #4bc3e0ec ;
}

.sideP{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(124, 122, 117) ;
}

#sidecolor{
    background-color:rgb(247, 245, 245) ;
    font-weight: 600;
}

#axc{
    max-height: 280px;
    background-color: whitesmoke;
}
#axc::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #d8f0ee;
}

#axc::-webkit-scrollbar
{
    width: 7px;
}

#axc::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b1caff;
}

#chooseTable{
    word-wrap: break-word !important;
    color: #494949;
    background: rgba(240, 250, 255, 0.616);
    transition: all 0.4s ease 0s;
    border: 1px solid gainsboro;
    outline:none;
    color: rgb(129, 122, 122);
    border-color: rgba(156, 155, 152, 0.363);
}

#chooseTable:hover{
    color: #837f7f;
    text-transform: uppercase;
    background: #ffffff;
    transition: all 0.4s;
}

#chooseTableUser{
    word-wrap: break-word !important;
    color: #494949;
    background: rgba(228, 255, 224, 0.62);
    transition: all 0.4s ease 0s;
    border: 1px solid #edffe3;
    outline:none;
    color: rgb(129, 122, 122);
    border-color: rgba(156, 155, 152, 0.363);
}

#chooseTableUser:hover{
    color: #837f7f;
    text-transform: uppercase;
    background: #ffffff;
    transition: all 0.4s;
}

#chooseTableDiff{
    word-wrap: break-word !important;
    color: #494949;
    background: rgba(255, 214, 149, 0.86);
    transition: all 0.4s ease 0s;
    border: 1px solid gainsboro;
    outline:none;
    color: rgb(129, 122, 122);
    border-color: rgba(156, 155, 152, 0.363);
}

#chooseTable3{
    color: #4c4c4c;
    word-wrap: break-word !important;
    transition: all 0.4s ease 0s;
    background-color: #d2d2d2;
}
#chooseTable3:hover{
    border-width: 2px;
    background-color: #b1b0b0;

}

#footer{
    background-color: rgb(221, 221, 217);
}

table {
    table-layout: fixed;
}
td, th{
    text-align: center;
    word-wrap:break-word;
}

input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
}

#checkControl1, #checkControl2{
    text-align: center;
}
#checkControl1 i{
    color: rgb(20, 224, 156);
}
#checkControl1 p, #checkControl2 p{
    color: rgb(83, 82, 82);
}

#checkControl2 i{
    color: rgb(245, 63, 63);
}

#checkButton{
    color: rgb(83, 82, 82);
    width: 200px;
    font-weight: 500;
    background-color: rgba(252, 186, 84, 0.87);
    transition: all 0.6s;
    margin-bottom: 20px;
}

#checkButton:hover{
    font-weight: 600;
    background-color: rgba(252, 176, 69, 0.95);
}

#checkButton2{
    color: rgb(83, 82, 82);
    width: 200px;
    font-weight: 500;
    background-color: rgba(199, 250, 90, 0.87);
    transition: all 0.2s;
    margin-bottom: 20px;
}

#checkButton2:hover{
    font-weight: 600;
    background-color: rgba(185, 250, 32, 0.87);
}


#resetButton{
    margin-top: 10px;
    color: rgb(83, 82, 82);
    font-weight: 500;
    transition: all 0.6s;
    background-color: rgb(189, 222, 255);
}
#resetButton:hover{
    font-weight: 600;
    transition: all 0.4s;
    background-color: rgb(149, 210, 253);
}

.pagination{
    text-align: center;
    display: block;
    background-color: rgb(236, 236, 236);
}

.pagination button{
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
}

.pagination p{
    background-color: rgb(117, 214, 213);
    text-decoration: none;
    padding: 0px 12px;
    font-weight: 700;
    color:rgb(189, 253, 252);
    border:1px solid transparent;
    border-radius: 100%;

}

.pagination p:hover{
    color: #ffc400 ;
    font-weight: 900;
    border-width: 1px;
}

.pagination .back{
    margin-right: -10px;
    font-size: 20px;
    color: #ffd758    ;
    background-color: rgb(255, 255, 255,0);
}

.pagination .next{
    margin-left: -10px;
    font-size: 20px;
    color: #ffd758    ;
    background-color: rgb(255, 255, 255,0);
}
