<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}">

    <title>Słownik</title>
    <!-- CSS -->
    <link th:href="@{/css/register.css}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        function isNumber(event) {
            var keycode = event.keyCode;
            if (keycode > 47 && keycode < 58) {
                return ture;

            }
            return false;

        }
    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ">Słownik</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="a1">
                    <a class="nav-link" th:href="@{home}">Home</a>
                </li>
                <li class="nav-item" id="a2">
                    <a class="nav-link" th:href="@{science}">Nauka</a>
                </li>
                <script>
                    function info() {
                        confirm("Zaloguj się aby mieć dostęp do wyników!");
                    }
                </script>
                <li class="nav-item dropdown" id="a3">
                    <a class="nav-link" th:href="@{score}">Wynik</a>
                </li>
                <li class="dropdown" >
                    <a class="btn dropdown-toggle" type="button" id="dd" data-bs-toggle="dropdown" aria-expanded="false">
                        Twoja tabela
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dd">
                        <li id="a2"><a class="dropdown-item" th:href="@{editTable}">Edytuj tabelę</a></li>
                        <li id="a3"><a class="dropdown-item" th:href="@{createTable}">Stwórz tabelę</a></li>
                    </ul>
                </li>
            </ul>

            <div th:unless="${userSession.getLogged() == true}">
                <form class="d-flex" th:action="@{login}">
                    <input type="submit" class="btn btn-secondary" value="Zaloguj" id="tff">
                </form>
            </div>

        </div>
    </div>
</nav>
    <div th:if="${exist == 'emailInUse'}" class="alert alert-danger" id="alertt" >
    <p> Podany email jest już używany, podaj inny lub <a th:href="@{home}">odzyskaj konto </a> </p>
</div>
<div th:if="${exist == 'peselInUse'}" class="alert alert-warning" id="alertt" >
    <p> Podany Pesel jest już używany, podaj inny lub <a th:href="@{home}">odzyskaj konto </a> </p>

</div>

<div class="signup-form">
    <form autocomplete="off" method="POST" th:action="@{/save}" th:object="${user}"
          oninput='checkpass.setCustomValidity(checkpass.value != password.value ? "Hasła nie pasują do siebie." : "")'>

        <h2>Zarejestruj się</h2>
        <p>Wypełnij formularz aby stworzyć konto!</p>
        <hr>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-battery-empty"></i></span>
                <input type="text" class="form-control" th:field="*{name}" name="imie" placeholder="Imie" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-battery-quarter"></i></span>
                <input type="text" class="form-control" th:field="*{lastname}" name="nazwisko" placeholder="Nazwisko" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-battery-half"></i></span>
                <input type="email" class="form-control" th:field="*{email}" name="email" placeholder="E-mail" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-battery-three-quarters"></i></span>
                <input type="password" class="form-control" th:field="*{password}" name="password" placeholder="Hasło"
                       pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Hasło musi mieć minimum 8 znaków, w tym chociaż jedną dużą literę." required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-battery-full"></i></span>
                <input type="password" class="form-control" name=checkpass placeholder="Powtórz Hasło"
                       required="required">
            </div>
        </div>

        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required="required"> Akceptuję <a href="#">Warunki
                korzystania</a> &amp; <a href="#">Polityka Prywatności</a></label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" name="save">Sign Up</button>
        </div>
    </form>

    <div class="text-center">Posiadasz już konto? <a >Zaloguj się</a></div>
</div>


<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>

</body>

</html>